.custom-table {
  overflow: auto;
  max-height: 70vh
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}
mat-form-field {
  width: 100%;
}

.money-input-prefix {
  top: -0.25em !important;
  position: relative;
}
.mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled), .mat-option.mat-active {
  background: #00695dab;
}

.flex-area{
  width: 100%;
}

.table-container{
  position: relative;
}

.left,.right{
  position: absolute;
  top:0px;
  bottom: 0px;
  height: 100%;
  width: 40px;
}


.right:hover{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,105,92,0.30) 60%, rgba(0,105,92,0.4) 100%);
}

.left:hover{
  background: rgb(0,105,92);
  background: linear-gradient(90deg, rgba(0,105,92,0.4) 0%, rgba(0,105,92,0.3) 60%, rgba(2,0,36,0) 100%);
}

.left{
  left: 0px;
}

.right{
  right: 0px;
}
