<div>
  <h3 class="text-bold">Listado de Usuarios</h3>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <!-- <mat-input-container> -->
  <input matInput placeholder="Search usuarios" #input />
  <!-- </mat-input-container> -->

  <mat-table
    class="usuarios-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortActive="id"
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let usuario">{{ usuario.idUsuario }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let usuario">{{
        usuario.login
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell class="name-cell" *matCellDef="let usuario">{{
        usuario.nombre
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef>Rol</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let usuario">{{
        usuario.rol?.descripcion
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-divider></mat-divider>
  <mat-paginator
    [length]="dataSource?.usuariosLength"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 30]"
  ></mat-paginator>
  <mat-divider></mat-divider>
</div>
