<h2 mat-dialog-title>
  Agregar Articulo
</h2>
<mat-dialog-content class="mat-typography">
  <form class="flex w-full flex-wrap justify-items-stretch" #newArticuloForm="ngForm">
    <div class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center w-full">

      <mat-form-field appearance="outline">
        <mat-label> Código - Nombre</mat-label>
        <input matInput name="numFactura" (focus)="getItems()" [matAutocomplete]="auto" [(ngModel)]="data.item"  (ngModelChange)="changeItems($event)" required
          class="appearance-none block w-full bg-gray-300 text-gray-700 border border-teal-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
          <mat-icon matSuffix class="mat-18">store</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let item of filteredItems" [value]="item">
                <span>
                  <b>{{ item.itemCode }} - {{ item.itemName }}</b>
                </span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>

        </mat-form-field>
    </div>
    <div class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center md:w-6/12">

      <mat-form-field appearance="outline">
        <mat-label>Lote</mat-label>
        <input matInput name="numFactura" [(ngModel)]="data.batchNum" required
          class="appearance-none block w-full bg-gray-300 text-gray-700 border border-teal-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
      </mat-form-field>
    </div>
    <div class="flex md:w-6/12 items-right" style="padding-bottom: 1.34375em;">

      <button bat-button mat-flat-button color="secondary" cdkFocusInitial style="background: #198d19;
      color: white;" (click)="agregarArticulo()">
        Procesar
      </button>


    </div>

    <div class="w-full"><p style="color:red">{{errorMsg}}</p></div>
    <mat-table [dataSource]="listadoLotes" #table class="items-table mat-elevation-z8 w-full" matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="lote">
        <mat-header-cell *matHeaderCellDef>Lote</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div>{{
            item.batchNum
            }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div>$ {{item.price}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="facturado">
        <mat-header-cell *matHeaderCellDef>Cant. Facturada</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div>{{item.cantidadFacturada}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vencido">
        <mat-header-cell *matHeaderCellDef>Vencido</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div> {{item.vencido?'Si':'No'}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="devuelto">
        <mat-header-cell *matHeaderCellDef>Cant. Devuelta</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div>{{item.devuelta}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="factura">
        <mat-header-cell *matHeaderCellDef>Num. Factura</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div>{{item.numFactura}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div>{{item.fechaFactura | date:'shortDate'}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <a  (click)="actualizarLotesSeleccionados(item)">
              <p  *ngIf="!item.selected"><mat-icon class="mat-18">add</mat-icon> Agregar</p>
              <p  *ngIf="item.selected"><mat-icon class="mat-18">remove</mat-icon> Quitar</p>

          </a>

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <tbody>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" style="vertical-align: middle" colspan="9999">
            <b>Vista previa de lotes a seleccionar vacia</b>
          </td>
        </tr>
      </tbody>
    </mat-table>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>

  <button [disabled]="listadoLotes.length==0" mat-flat-button color="primary" cdkFocusInitial
    [mat-dialog-close]="lotesSeleccionados">
    Agregar
  </button>
</mat-dialog-actions>
