<mat-card>
  <mat-card-content>
    <div class="flex flex-wrap justify-around">
      <div class="w-full">
        <h1 *ngIf="Corte.idCortedeCaja==0" >Nuevo Corte de Caja</h1>
        <h1 *ngIf="Corte.idCortedeCaja!=0" >Editando Corte de caja #{{Corte.idCortedeCaja}}</h1>
      </div>

      <div class="flex  w-full flex-wrap align-items items-baseline">

        <div class="w-1/3" >
          <span class=" mx-1 mb-3"> Recibe: {{Corte.usuario}}</span>
        </div>

        <div class="w-1/3" >
          <span class=" mx-1 mb-3"> Numero de documento</span>
          <mat-form-field class="example-full-width">
            <input [readonly]="readOnly"

            [disabled]="readOnly" matInput type="text" placeholder="Numero" [(ngModel)]="Corte.numeroDocumento">
          </mat-form-field>
        </div>


        <div class="w-1/3" >
          <p><span class=" mx-1 mb-3">Fecha: {{Corte.fecha}}</span></p>
        </div>


        <div class="w-1/3" >
          <p><span class=" mx-1 mb-3">Entrega</span>
            <mat-form-field class="example-full-width">
              <input [readonly]="readOnly"

            [disabled]="readOnly"matInput placeholder="Nombre Entrega" [(ngModel)]="Corte.entrega">
            </mat-form-field>
          </p>
        </div>




        <div class="w-1/3" >
          <p>
            <span class=" mx-1 mb-3"> Tipo de documento</span>
            <mat-form-field>
              <mat-label>Seleccionar Tipo</mat-label>
              <mat-select [disabled]="readOnly" [(ngModel)]="Corte.tipoDocumento">
                <mat-option *ngFor="let estado of tipoDocumento" [value]="estado.value">
                  {{estado.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
        </div>


        <div *ngIf="Corte.idCortedeCaja!=0"  class="w-1/3" >
          <p>
            <span class=" mx-1 mb-3"> Estado

              <span *ngIf="Corte.estadoDocumento == 1" >
                  Recibido
              </span>
              <span *ngIf="Corte.estadoDocumento == 2" >
                Aplicado
            </span>

            </span>
            
          </p>
        </div>


      </div>

      <div class="flex justify-around w-full">


        

      </div>




      <div *ngIf="Corte.estadoDocumento != 2" class="flex justify-evenly mt-4">
        <button (click)="GetDocumento()" mat-raised-button
          color="primary"><mat-icon>refresh</mat-icon>Actualizar Facturas</button>
      </div>



      <div class="w-full rounded table-responsive ">
        <div class="">
          <mat-table class="items-table mat-elevation-z8" [dataSource]="Corte.documentLines" matSort matSortActive="codigo"
            matSortDirection="desc" matSortDisableClear>

            <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
              <mat-cell *matCellDef="let item; let j = index">

                <span 
                  *ngIf="column != 'estado' && column != 'efectivoR' && column != 'transfR' && column != 'chequesR' && column != 'condicionPago' ">{{
                  item[column] 
                }}</span>

                <span *ngIf="column == 'estado'"> <mat-form-field>

                    <mat-select *ngIf="Corte.tipoDocumento==1" [(ngModel)]="item.estadoDocumento">
                      <mat-option *ngFor="let estado of estadosConsolidado" [value]="estado.value">
                        {{estado.viewValue}}
                      </mat-option>
                    </mat-select>

                    <mat-select *ngIf="Corte.tipoDocumento != 1 " [(ngModel)]="item.estadoDocumento">
                      <mat-option *ngFor="let estado of estadosCobro" [value]="estado.value">
                        {{estado.viewValue}}
                      </mat-option>
                    </mat-select>

                  </mat-form-field> 
                </span>

                <span *ngIf="column == 'condicionPago'">

                  <span *ngIf="item.condicionPago == 12" >
                      CONTADO
                  </span>
                  <span *ngIf="item.condicionPago != 12" >
                    CREDITO
                </span>

                </span>


                <span (click)="savePago(j,item.estadoDocumento,item.CondicionPago,item)" *ngIf="column == 'efectivoR'">

                  ${{item.efectivoR}}

                </span>

                <span (click)="savePago(j,item.estadoDocumento,item.CondicionPago,item)" *ngIf="column == 'transfR'">

                  ${{item.transfR}}

                </span><span (click)="savePago(j,item.estadoDocumento,item.CondicionPago,item)" *ngIf="column == 'chequesR'">

                  ${{item.chequesR}}

                </span>

              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns">

            </mat-row>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" style="vertical-align: middle" colspan="9999">
                No se han encontrado registros
              </td>
            </tr>
          </mat-table>
        </div>
      </div>


      <div class="w-full">
        <div class="grid grid-cols-6 gap-4 mt-4">
          <div class="col-end-7 col-span-2">
            <h3 class=""> Total Entregas Contado: ${{totalEfectivo}}</h3>
          </div>
        </div>

        <div class="flex flex-row mt-4">

          <div class="tituloBills">
            <h1>Billetes</h1>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input matInput  type="number" (change)="calcularSumatoria()" [(ngModel)]="Corte.b1" placeholder="$1" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input matInput  type="number" (change)="calcularSumatoria()" [(ngModel)]="Corte.b5" placeholder="$5" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input matInput  type="number" (change)="calcularSumatoria()" [(ngModel)]="Corte.b10" placeholder="$10" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input matInput  type="number" (change)="calcularSumatoria()" [(ngModel)]="Corte.b20" placeholder="$20" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input matInput  type="number" (change)="calcularSumatoria()" [(ngModel)]="Corte.b50" placeholder="$50" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input matInput  type="number" (change)="calcularSumatoria()" [(ngModel)]="Corte.b100" placeholder="$100" value="0">
            </mat-form-field>
          </div>

        </div>

        <div class="flex flex-row marginTop">

          <div class="tituloBills">
            <h1>Monedas</h1>
          </div>

          <div class="basis-1/4 fieldsMoney fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input type="number"  (change)="calcularSumatoria()" [(ngModel)]="Corte.mCentavo" matInput placeholder="0.01" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input type="number"  (change)="calcularSumatoria()" [(ngModel)]="Corte.m5" matInput placeholder="0.05" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input type="number"  (change)="calcularSumatoria()" [(ngModel)]="Corte.m10" matInput placeholder="0.10" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">

            <mat-form-field class="Dolares" class="example-full-width">
              <input type="number"  (change)="calcularSumatoria()" [(ngModel)]="Corte.m25" matInput placeholder="0.25" value="0">
            </mat-form-field>
          </div>

          <div class="basis-1/4 fieldsMoney">
            <mat-form-field class="Dolares" class="example-full-width">
              <input type="number"  (change)="calcularSumatoria()" [(ngModel)]="Corte.m1" matInput placeholder="1.00" value="0">
            </mat-form-field>
          </div>

            <div class="basis-1/4 fieldsMoney">
            <mat-form-field class="Dolares" class="example-full-width">
              <input type="number"  (change)="calcularSumatoria()" [(ngModel)]="Corte.milesimasCentavo" matInput placeholder="0.0001" value="0">
            </mat-form-field>
          </div>


        </div>

        <div class="grid grid-cols-6 gap-4">
          <div class="col-end-7 col-span-2 ...">
            <h3 class="mx-1"> Total Arqueo: ${{totalContado}}</h3>
          </div>
          <div class="col-end-7 col-span-2 ...">
            <h3 class="mx-1 mb-3"> Diferencia: ${{totalEfectivo - totalContado }}</h3>
          </div>
        </div>


        <div *ngIf="Corte.estadoDocumento != 2" class="flex justify-evenly mt-4">
          <button *ngIf="Corte.idCortedeCaja != 0" mat-raised-button color="primary" (click)="aplicarCorte()"><mat-icon>edit</mat-icon> Aplicar</button>


          <button *ngIf="Corte.idCortedeCaja == 0" mat-raised-button color="primary" (click)="guardarCorte()"><mat-icon>save</mat-icon> Guardar</button>
          <button *ngIf="Corte.idCortedeCaja != 0" mat-raised-button color="primary" (click)="updateCorte()"><mat-icon>update</mat-icon> Guardar Cambios</button>



        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>