<mat-card>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div class="flex flex-row items-center">
    <h1 class="text-bold">Listado de roles</h1>
    <div class="flex-auto"></div>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Buscar roles</mat-label>

      <input matInput placeholder="jose.chavez" #input />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->
    <button
      color="primary"
      class="addBtn"
      mat-raised-button
      (click)="addItem()"
    >
      <mat-icon>add</mat-icon> Agregar rol
    </button>
  </div>

  <mat-table
    class="roles-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortActive="id"
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let rol">{{ rol.idRol }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rol">{{
        rol.descripcion
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="compras">
      <mat-header-cell *matHeaderCellDef>Compras</mat-header-cell>
      <mat-cell class="name-cell" *matCellDef="let rol">
        <mat-icon *ngIf="!rol.compras">check_box</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="facturacion">
      <mat-header-cell *matHeaderCellDef>Facturacion</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rol">
        <mat-icon *ngIf="!rol.facturacion">check_box</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="devoluciones">
      <mat-header-cell *matHeaderCellDef>Devoluciones</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rol">
        <mat-icon *ngIf="!rol.devoluciones">check_box</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rol">
        <button mat-icon-button (click)="editItemDialog(rol)">
          <mat-icon class="mat-18" color="orange">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItemDialog(rol)">
          <mat-icon class="mat-18" color="orange">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <!-- <mat-divider></mat-divider> -->
  <mat-paginator
    class="mat-elevation-z8"
    [length]="dataSource?.rolesLength"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 30]"
  ></mat-paginator>
  <!-- <mat-divider></mat-divider> -->
</mat-card>
