<div
  class="min-h-full h-full w-full min-w-full flex items-center bg-purple-800"
>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <!-- <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error> -->
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Login"
            formControlName="email"
            required
          />
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-error> El usuario ingresado es invalido </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-icon matPrefix>lock</mat-icon>
          <mat-error> La contraseña ingresada es invalida </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
          Login
        </button>
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
        ></mat-progress-bar>
      </form>
    </mat-card-content>
  </mat-card>
</div>
