<mat-card>
  <mat-card-content>
    <div class="flex flex-wrap">
      <div class="w-full">
        <h1>
          {{ readMode ? "" : "Nuevo" }} Ingreso de compras <span>#{{solicitud.idEntradaMercancia}}</span>
        </h1>
      </div>
      <!-- <div class="w-full"><h4>Compras y Facturación</h4></div> -->

      <form class="flex w-full flex-wrap" #heroForm="ngForm" novalidate onsubmit="">
      <div class="flex w-full flex-wrap">
        <div
          class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center justify-center align-middle md:w-9/12 w-full">
          <span class="mx-1 mb-3">Proveedor</span>
          <mat-form-field appearance="outline">
            <!-- <input
            formControlName="laboratory"
            matInput
            placeholder="Search"
            aria-label="State"
            [matAutocomplete]="auto"
            [formControl]="searchMoviesCtrl"
            type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-teal-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          /> -->
            <input matInput name="proveedor" type="text" [(ngModel)]="solicitud.proveedor" [matAutocomplete]="auto" (ngModelChange)="changeProveedor($event)" (focus)="getProveedores()"
              class="appearance-none py-3 px-4 bg-transparent" />
            <mat-icon matSuffix class="mat-18">store</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let lab of filteredLabs" [value]="lab">
                  <span>
                    <b>{{ lab.cardName }}</b>
                  </span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center md:w-3/12 w-full">
          <span class="mx-1 mb-3">Fecha</span>
          <mat-form-field appearance="outline">
            <input [(ngModel)]="solicitud.fecha" required [matDatepicker]="picker" matInput name="fecha" type="text" [readonly]="readMode"
              class="appearance-none py-3 px-4 bg-transparent">
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>


            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center md:w-4/12 w-full">
          <span class="mx-1 mb-3">Número Factura</span>
          <mat-form-field appearance="outline">
            <input matInput name="numFactura" [(ngModel)]="solicitud.numFactura" required [readonly]="readMode"
              class="appearance-none block w-full bg-gray-300 text-gray-700 border border-teal-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
          </mat-form-field>
        </div>
        <div class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center md:w-4/12 w-full">
          <span class="mx-1 mb-3">No. Orden de Compra</span>
          <mat-form-field appearance="outline">
            <input required [readonly]="readMode" matInput name="numOrdenCompra" min="1" type="text" [readonly]="readMode" [(ngModel)]="solicitud.numOrdenCompra" [matAutocomplete]="autoPO" (ngModelChange)="changeOrdenCompra($event)"
              (focus)="getPurchaseOrdersList()"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-teal-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" />
            <mat-autocomplete #autoPO="matAutocomplete" [displayWith]="displayPurchaseOrder"
              (optionSelected)='getPurchaseOrderById($event.option.value?.docNum)'>
              <mat-option *ngIf="isLoadingPO" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoadingPO">
                <mat-option *ngFor="let lab of filteredPO" [value]="lab">
                  <span>
                    <b>{{ lab.docNum }} - {{ lab.docDate }}</b>
                  </span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="flex flex-auto"></div>
      </div>
      <div class="w-full rounded">
        <div *ngIf="dataSource.loading$ | async" class="spinner-container" class="w-min-full">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div #tableContainer class="table-container">
        <mat-table [dataSource]="solicitud.documentLines" #table class="items-table mat-elevation-z8"
          >
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index">{{ item.itemCode }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              {{
              item.itemDescription
              }}
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="lote">
            <mat-header-cell *matHeaderCellDef>Lote</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <div class="flex flex-row">
                <mat-form-field appearance="outline" style="width: 100px">
                  <mat-label>Lote</mat-label>
                  <input maxlength="20" name="lote{{item.randomID}}" [(ngModel)]="item.lote" matInput type="text" [readonly]="readMode" required>
                </mat-form-field>
                <div *ngIf="!readMode" class="flex flex-col" style="padding-top:2px;height:64px;">
                  <mat-icon class="removeButton" matTooltip="Elimina la linea actual" (click)="removeItem(item)">remove
                  </mat-icon>
                  <mat-icon class="addButton" matTooltip="Agrega una linea" (click)="duplicateItem(item)">add</mat-icon>
                </div>
              </div>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="vencimiento">
            <mat-header-cell *matHeaderCellDef>Vencimiento</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 160px" *ngIf="!readMode">
                <mat-label>Vencimiento</mat-label>
                <input name="fechaExpiracion{{item.randomID}}" [(ngModel)]="item.fechaExpiracion" matInput type="date" [readonly]="readMode" required>
              </mat-form-field>
              <span  *ngIf="readMode"> {{item.fechaExpiracion | date : 'shortDate':'en-US'}}</span>

            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="UnidadesGravadas">
            <mat-header-cell *matHeaderCellDef>U.Gravadas</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>Unidades</mat-label>
                <input name="unidadesGravadas{{item.randomID}}"  [(ngModel)]="item.unidadesGravadas" (ngModelChange)="updateItemCalculatedValues(item,$event)" matInput
                  min="0" matInput placeholder="0" type="number" required [readonly]="readMode">
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>P. Unit</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px" class="money-input">
                <mat-label>Precio</mat-label>
                <span matPrefix class="money-input-prefix">
                  $&nbsp;
                </span>
                <input name="price{{item.randomID}}" [(ngModel)]="item.price" (ngModelChange)="updateItemCalculatedValues(item,$event)" matInput min="0.0"
                  matInput placeholder="0" type="number" required [readonly]="readMode">
              </mat-form-field>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="vgrav">
            <mat-header-cell *matHeaderCellDef>V. Gravado</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              $
              {{
              item.valorGravado
              }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="unidadesBonificadas">
            <mat-header-cell *matHeaderCellDef>U.Bonificadas</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>Unidades</mat-label>
                <input name="unidadesBonificadas{{item.randomID}}" [(ngModel)]="item.unidadesBonificadas" (ngModelChange)="updateItemCalculatedValues(item,$event)"
                  matInput min="0" matInput placeholder="0" type="number" required [readonly]="readMode">
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="descuento">
            <mat-header-cell *matHeaderCellDef>% Desc</mat-header-cell>
            <mat-cell *matCellDef="let item;let rowIdx = index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>%</mat-label>
                <input #descuento="ngModel" name="txtDescuento{{item.randomID}}" [(ngModel)]="item.descuento"
                  (ngModelChange)="updateItemCalculatedValues(item,$event)"

                  matInput min="0" max="100" matInput placeholder="0"
                  type="number" required [readonly]="readMode">
                <mat-error *ngIf="descuento?.invalid">
                  <div *ngIf="descuento.errors?.required">El descuento es <br>requerido</div>
                </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="valorBonificado">
            <mat-header-cell *matHeaderCellDef>V. Bonif</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              $
              {{
              item.valorBonificado
              }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="valorDescuento">
            <mat-header-cell *matHeaderCellDef>V. Desc</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              $
              {{
              item.valorDescuento
              }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="totalGravado">
            <mat-header-cell *matHeaderCellDef>T.Gravado</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              $
              {{
              item.totalGravado
              }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="tunidades">
            <mat-header-cell *matHeaderCellDef>T. Unidades</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              {{
              item.totalUnidades
              }}
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="costoreal">
            <mat-header-cell *matHeaderCellDef>Costo Real</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px" class="money-input">
                <mat-label>Precio</mat-label>
                <span matPrefix class="money-input-prefix">
                  $&nbsp;
                </span>
                <input name="costoReal{{item.randomID}}" [(ngModel)]="item.costoReal" (ngModelChange)="updateItemCalculatedValues(item,'costoReal')" matInput min="0.0"
                  matInput placeholder="0" type="number" required [readonly]="readMode">
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="rentabilidad">
            <mat-header-cell *matHeaderCellDef>% Rentabilidad</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>%</mat-label>

                <input name="rentabilidad{{item.randomID}}" [(ngModel)]="item.rentabilidad" (ngModelChange)="updateItemCalculatedValues(item,$event)" matInput
                  min="0" max="100" matInput placeholder="0" type="number" required [readonly]="readMode">
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="precioVenta">
            <mat-header-cell *matHeaderCellDef>P. Venta</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>Precio</mat-label>
                <span matPrefix class="money-input-prefix">
                  $&nbsp;
                </span>
                <input name="precioVenta{{item.randomID}}" readonly [(ngModel)]="item.precioVenta" matInput min="0.0" matInput placeholder="0" type="number"
                  required >
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="preciopublico">
            <mat-header-cell *matHeaderCellDef>P. Publico</mat-header-cell>
            <mat-cell *matCellDef="let item;let index=index" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>Precio</mat-label>
                <span matPrefix class="money-input-prefix">
                  $&nbsp;
                </span>
                <input name="precioPublico{{item.randomID}}" [(ngModel)]="item.precioPublico" matInput min="0.0" matInput placeholder="0" type="number"
                  required [readonly]="readMode">
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="initialColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: initialColumns"></mat-row>
          <tbody>
            <tr *matNoDataRow class="mat-row">
              <td class="mat-cell" style="vertical-align: middle" colspan="9999">
                No se han encontrado registros
              </td>
            </tr>
          </tbody>
        </mat-table>
        <div class="left" (click)="scrollLeft()">

        </div>
        <div  class="right" (click)="scrollRight()">

        </div>
      </div>

        <div class="flex flex-row items-end justify-end  bg-gray-200 px-2"><div> <div style="width:100%"><b>SUBTOTAL $ {{subtotalFactura | number
          :'1.2-2':'en-US'}} </b></div>
           <div style="width:100%"><b>IVA $ {{iva | number
            :'1.2-2':'en-US'}} </b></div>

        <div style="width:100%"><b>TOTAL $ {{totalFactura | number
            :'1.2-2':'en-US'}} </b></div>
          </div></div>
        <div style="position: relative">
          <mat-divider></mat-divider>
          <div class="mat-elevation-z8 w-full flex flex-row py-4 items-center justify-around bg-gray-200">
            <a *ngIf="!readMode"  (click)="guardarSolicitud()" mat-button mat-flat-button color="primary">
              <mat-icon class="mat-18">save</mat-icon>
              Guardar
            </a>
            <a mat-stroked-button color="primary" routerLink="/ingreso_compras">
              <mat-icon class="mat-18">undo</mat-icon>
              Regresar
            </a>
          </div>
        </div>

      </div>
    </form>
    </div>
  </mat-card-content>
</mat-card>
