mat-form-field {
  width: 100%;
}

.multiline-mat-option.mat-option {
  white-space: normal;
  line-height: normal;
}

.line1{
  font-size: 12px;
}

.line2{
  font-size: 10px;
}


.mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled), .mat-option.mat-active {
  background: #00695dab;
}
