<div
  class="flex h-full w-full items-center justify-center align-middle flex-col pa-3"
>
  <h1>HOME COFARSAL</h1>
  <div
    class="grid grid-cols-2 gap-2 self-center justify-items-center align-middle items-center"
  >
    <img
      class="grid col-start-1 col-end-2"
      src="https://via.placeholder.com/468x120?text=COFARSAL+PLACEHOLDER"
    />
    <img src="https://via.placeholder.com/120x120?text=COFARSAL+PLACEHOLDER" />
    <img src="https://via.placeholder.com/120x120?text=COFARSAL+PLACEHOLDER" />
    <img src="https://via.placeholder.com/120x120?text=COFARSAL+PLACEHOLDER" />
    <img src="https://via.placeholder.com/120x120?text=COFARSAL+PLACEHOLDER" />
    <img src="https://via.placeholder.com/120x120?text=COFARSAL+PLACEHOLDER" />
  </div>
</div>
