<mat-card>

  <div class="flex justify-around">
    <div class="order-last">

      <h1>Agregar Pago - Documento {{documento}}</h1>
      <h3 style="text-align: center;">Total a pagar ${{monto}}</h3>

    </div>
  </div>

  <mat-tab-group>


    <mat-tab label="Efectivo">

      <div class="flex justify-around mt-4">
        <div>
          <span class="mx-1 mb-3"> Monto: $</span>
          <mat-form-field  class="example-full-width">
            <input [(ngModel)]="pago.montoEfectivo" matInput type="number" placeholder="Monto" value="0.00">
          </mat-form-field>
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Transferencia">
      <div class="flex justify-around mt-4">
        <mat-form-field>
          <mat-label>Seleccionar cuenta</mat-label>
          <mat-select [(ngModel)]="pago.cuentaTransfer" >
            <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.value">
              {{cuenta.nombreCuenta}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <span class="mx-1 mb-3"> Referencia: </span>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="pago.referenciaTransfer" type="number" matInput placeholder="Referencia">
          </mat-form-field>
        </div>

      </div>

      <div class="flex justify-around mt-4">

        <div>
          <span class="mx-1 mb-3"> Fecha: </span>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="pago.fechaTransfer" type="date" matInput placeholder="Fecha">
          </mat-form-field>
        </div>

        <div>
          <span class="mx-1 mb-3"> Monto: $</span>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="pago.montoTransfer" type="number" matInput placeholder="Monto" value="0.00">
          </mat-form-field>
        </div>

      </div>

    </mat-tab>

    <mat-tab label="Cheque">

      <div class="flex justify-around mt-4">
        <mat-form-field>
          <mat-label>Seleccionar cuenta</mat-label>
          <mat-select [(ngModel)]="pago.cuentaCheque">
            <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.value">
              {{cuenta.nombreCuenta}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <span class="mx-1 mb-3"> N° Cheque: </span>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="pago.ReferenciaCheque" type="number" matInput placeholder="N° Cheque">
          </mat-form-field>
        </div>

      </div>

      <div class="flex justify-around mt-4">

        <!-- <div>
          <span class="mx-1 mb-3"></span>
          <mat-checkbox class="example-margin"
                  [color]=""
                  [indeterminate]=""> Cheque Postfecha
          </mat-checkbox>
        </div> -->

        <div>
          <span class="mx-1 mb-3"> Fecha: </span>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="pago.fechaCheque" type="date" matInput placeholder="Fecha">
          </mat-form-field>
        </div>

        <div>
          <span class="mx-1 mb-3"> Monto: $</span>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="pago.montoCheque" type="number" matInput placeholder="Monto" value="0.00">
          </mat-form-field>
        </div>

      </div>


    </mat-tab>

  </mat-tab-group>


  <div class="flex justify-evenly">

      <button mat-raised-button color="primary" [mat-dialog-close]="savePago()" >Guardar</button>

      <button mat-raised-button color="warn">Cancelar</button>

  </div>

</mat-card>