<mat-card>
  <mat-card-content>
    <div class="flex flex-col">
      <div *ngFor="let item of ordenes" class="mt-3">
        <h2>
          Detalle de Facturas
          <span *ngIf="readOnly">#{{ item.DocNum }}</span>

        </h2>
        <div class="w-full" *ngIf="solicitud.estadoFacturaFK == 1">
          <div class="flex flex-row w-full items-center">
            SALDO:
          <div class="bordeInput">${{(creditoDisponible*1).toFixed(4) | number :'1.2-2':'en-US'}}</div>
          LIMITE CREDITO:
          <div class="bordeInput">${{(limiteCredito*1).toFixed(4) | number :'1.2-2':'en-US'}}</div>
          <div class="flex flex-row items-center"><b>CREDITO DISPONIBLE:</b><b>            <div class="bordeInput">${{(limiteCredito - creditoDisponible).toFixed(4) | number: '1.2-2':'en-US'}}</div>
          </b>
        </div>
          </div >
          <div class="flex flex-row items-center" *ngIf="!isLoadingFacturasMora && totalFacturasVencidas!=null">FACTURAS EN MORA:<div class="bordeInput"> {{totalFacturasVencidas}}
          </div></div>
        </div>
        <div class="flex flex-row items-center">
        <div class="w-6/12 ">
          <b>Farmacia:</b>
          <div class="bordeInput no-margin">{{ item.cardName }}</div></div>
        <div class="w-6/12 items-start"><b>Sucursal:</b> <div class="bordeInput no-margin">{{ item.shipToCode }}</div></div>
        <div class="w-full items-start"><b>Nombre Cliente:</b> <div class="bordeInput no-margin">{{ item.razonSocial }}</div></div>
        <div class="w-6/12 items-start"><b>Tipo Documento:</b> <div class="bordeInput no-margin">{{ item.serie }}</div></div>
        <div class="w-6/12 items-start"><b>Fecha:</b> <div class="bordeInput no-margin">{{ item.docDate | date : 'shortDate':'en-US' }}</div></div>

      </div>
    <div style="margin-bottom:10px"></div>

        <mat-table
          class="items-table mat-elevation-z8"
          [dataSource]="item.documentLines"
          matSort
          matSortActive="id"
          matSortDirection="asc"
          matSortDisableClear
        >
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
          <mat-cell *matCellDef="let item">

            <div style="min-width: 100px;">

              {{
              item.itemCode
              }}</div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let item" class="duration-cell">
            <div style="min-width: 200px;">{{
              item.itemDescription
              }}</div>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="lote">
          <mat-header-cell *matHeaderCellDef>Lote</mat-header-cell>
          <mat-cell *matCellDef="let item" class="duration-cell">
            <div class="flex flex-row">
              {{item.batchNum}}

            </div>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="vencimiento">
          <mat-header-cell *matHeaderCellDef>Vencimiento</mat-header-cell>
          <mat-cell *matCellDef="let item" class="duration-cell">

            {{item.expDate | date:'shortDate'}}


          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="UnidadesGravadas">
          <mat-header-cell *matHeaderCellDef>U.Gravadas</mat-header-cell>
          <mat-cell *matCellDef="let item" class="duration-cell">

              {{item.quantity}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef>P. Unit</mat-header-cell>
          <mat-cell *matCellDef="let item" class="duration-cell">

            $&nbsp;
            {{item.price }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="retener">
          <mat-header-cell *matHeaderCellDef>Retener</mat-header-cell>
          <mat-cell *matCellDef="let item" class="duration-cell">


              <span *ngIf="item.wtLiable=='tYES'">
                SI
              </span >
              <span *ngIf="item.wtLiable=='tNO'">
                NO
              </span>
          </mat-cell>
        </ng-container>





        <ng-container matColumnDef="totalGravado">
          <mat-header-cell *matHeaderCellDef>T.Gravado</mat-header-cell>
          <mat-cell *matCellDef="let item" class="duration-cell">
            $
            {{
            (item.price * item.quantity).toFixed(2)
            }}
          </mat-cell>

        </ng-container>

        <ng-container matColumnDef="descuento">
          <mat-header-cell *matHeaderCellDef>% Desc.</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <div>{{item.discountPercent}}%</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <div> $ {{(item.price * item.quantity*(1-(item.discountPercent/100))).toFixed(2)}}</div>
          </mat-cell>
          <td mat-footer-cell *matFooterCellDef colspan="2" align="right" style="flex:auto">
            <div style="width:100%"><b>SUBTOTAL $ {{item.subtotalFactura | number
              :'1.2-2':'en-US'}} </b></div>
              <div style="width:100%"><b>IVA $ {{item.iva | number
                :'1.2-2':'en-US'}} </b></div>
                <div style="width:100%" *ngIf="item.percepcion>0"><b>Percepcion $ {{item.percepcion | number
                  :'1.2-2':'en-US'}} </b></div>
            <div style="width:100%"><b>TOTAL $ {{item.totalFactura | number
                :'1.2-2':'en-US'}} </b></div>
          </td>
        </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          <mat-footer-row *matFooterRowDef="['total']"></mat-footer-row>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" style="vertical-align: middle" colspan="9999">
              No se han encontrado registros
            </td>
          </tr>
        </mat-table>


        <mat-divider></mat-divider>
      </div>

      <div class="mt-3" style="text-align: center">
        <a
          *ngIf="solicitud && solicitud.estadoFacturaFK == 2"
          mat-button
          mat-flat-button
          color="warn"
          (click)="generarFacturas()"
        >
          Generar Facturas
        </a>

        <a
        style="margin-left:10px"
        *ngIf="solicitud && solicitud.estadoFacturaFK == 1 && user.rol.supervisorFacturacion==false"
        mat-button
        mat-flat-button
        color="primary"
        (click)="aprobarFacturas(2)"
      >
        Aprobar Factura
      </a>

      <a
      style="margin-left:10px"
      *ngIf="solicitud && solicitud.estadoFacturaFK == 1 && user.rol.supervisorFacturacion==false"
      mat-button
      mat-flat-button
      color="warn"
      (click)="aprobarFacturas(6)"
    >
      Rechazar Factura
    </a>

      <a
        style="margin-left:10px"
        *ngIf="solicitud && solicitud.estadoFacturaFK == 2 && user.rol.supervisorFacturacion==false"
        mat-button
        mat-flat-button
        color="primary"
        (click)="abrirFacturas()"
      >
        Abrir Factura
      </a>
      </div>

    </div>
  </mat-card-content>
</mat-card>
