<mat-card>
  <mat-card-content>
    <div class="flex flex-wrap">
      <div class="w-full">
        <h1>
          {{ readOnly ? "" : "Nueva" }} Devolución {{ readOnly && solicitud.idDevolucion ? "#"+solicitud.idDevolucion : "" }}
        </h1>
      </div>


      <form [formGroup]="devolucionesForm" class="flex w-full flex-wrap">
        <div
          class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center justify-center align-middle md:w-9/12 w-full">
          <span class="mx-1 mb-3">Cliente</span>
          <mat-form-field appearance="outline">
            <!-- <input
            formControlName="laboratory"
            matInput
            placeholder="Search"
            aria-label="State"
            [matAutocomplete]="auto"
            [formControl]="searchMoviesCtrl"
            type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-teal-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          /> -->
            <input matInput formControlName="proveedor" type="text" [matAutocomplete]="auto" (focus)="getProveedores()"
              class="appearance-none py-3 px-4 bg-transparent"  [readonly]="readOnly"/>
            <mat-icon matSuffix class="mat-18">person</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let lab of filteredLabs" [value]="lab">
                  <span>
                    <b>{{ lab.cardName }} ({{ lab.cardCode }})</b>
                  </span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="flex sm:flex-col sm:flex-wrap md:flex-row md:flex-nowrap items-center md:w-3/12 w-full">
          <span class="mx-1 mb-3">Fecha</span>
          <mat-form-field appearance="outline">
            <input [matDatepicker]="picker" [readonly]="readOnly" matInput formControlName="fecha" type="text"
              class="appearance-none py-3 px-4 bg-transparent">
            <mat-datepicker-toggle  *ngIf="!readOnly" [for]="picker" matSuffix></mat-datepicker-toggle>


            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="flex flex-auto"></div>
        <div class="flex w-full justify-end">
          <div class="flex flex-column items-center align-items-end ml-1">
            <button *ngIf="!readOnly"  [disabled]="!form.proveedor.value" mat-button mat-flat-button color="primary" color="primary" style="height: 4em; margin-bottom: 1em" (click)="addArticulo()">
              Agregar Articulo
              <mat-icon class="mat-18">add</mat-icon>
            </button>
          </div>
        </div>
      </form>
      <div class="w-full rounded">
        <!-- <div *ngIf="dataSource.loading$ | async" class="spinner-container" class="w-min-full">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div> -->
        <mat-table [dataSource]="solicitud.documentLines" #table class="items-table mat-elevation-z8" matSort
          matSortActive="id" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
            <mat-cell *matCellDef="let item">

              <div style="min-width: 100px;" >
                <button *ngIf="!readOnly" mat-icon-button style="color:red" (click)="removeItem(item) ">
                  <mat-icon class="mat-18" style="color:red">delete</mat-icon>
                </button>
                {{
                item.itemCode
                }}</div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
            <mat-cell *matCellDef="let item" class="duration-cell">
              <div style="min-width: 200px;">{{
                item.itemDescription
                }}</div>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="lote">
            <mat-header-cell *matHeaderCellDef>Lote</mat-header-cell>
            <mat-cell *matCellDef="let item" class="duration-cell">
              <div class="flex flex-row">
                {{item.batchNum}}

              </div>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="cantDevuelta">
            <mat-header-cell *matHeaderCellDef>Cant. Devuelta</mat-header-cell>
            <mat-cell *matCellDef="let item" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>Unidades</mat-label>
                <input [(ngModel)]="item.quantity" [readonly]="readOnly" (ngModelChange)="updateItemCalculatedValues(item)"
                [max]="item.cantidadFacturada - item.devuelta" type="number"
                matInput min="0"
                  matInput placeholder="0"  required>
                  <mat-hint *ngIf="!readOnly">{{"Max:"+ (item.cantidadFacturada - item.devuelta)}}</mat-hint>
              </mat-form-field>

            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="cantFacturada">
            <mat-header-cell *matHeaderCellDef>Cant. Facturada</mat-header-cell>
            <mat-cell *matCellDef="let item" class="duration-cell">
              <mat-form-field appearance="outline" style="width: 100px">
                <mat-label>Unidades</mat-label>
                <input [value]="item.cantidadFacturada"  matInput min="0"
                  matInput placeholder="0" type="number" required readonly="true">

              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>P. Unit</mat-header-cell>
            <mat-cell *matCellDef="let item" class="duration-cell">

              $&nbsp;
              {{item.price }}
            </mat-cell>
          </ng-container>





          <ng-container matColumnDef="numeroFactura">
            <mat-header-cell *matHeaderCellDef>No. Factura</mat-header-cell>
            <mat-cell *matCellDef="let item" class="duration-cell">
              {{
              item.numFactura
              }}
            </mat-cell>
          </ng-container>



          <ng-container matColumnDef="saldo">
            <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
            <mat-cell *matCellDef="let item">
              <div> $ {{(item.price * item.quantity).toFixed(4)}}</div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          <tbody>
            <tr *matNoDataRow class="mat-row">
              <td class="mat-cell" style="vertical-align: middle" colspan="9999">
                <b>Aún no se han agregado articulos</b>
              </td>
            </tr>
          </tbody>

        </mat-table>


        <div style="position: relative">
          <div class="mat-elevation-z8 w-full flex flex-row px-4 py-4 items-center justify-around bg-white">

          <mat-form-field  appearance="outline">
            <mat-label>Comentario:</mat-label>
            <textarea matInput class="custom-textarea"
            readonly="readOnly"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      [(ngModel)]="comentario"
                      cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
          </div>
          <mat-divider></mat-divider>

          <div class="mat-elevation-z8 w-full flex flex-row py-4 items-center justify-around bg-gray-200">
            <a *ngIf="!readOnly" (click)="guardarDevolucion()" mat-button mat-flat-button color="primary">
              <mat-icon class="mat-18">save</mat-icon>
              Procesar
            </a>
            <a mat-stroked-button color="primary" routerLink="/devoluciones">
              <mat-icon class="mat-18">undo</mat-icon>
              Regresar
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
